<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Check out GROW!</title>
</head>

<body>
    <h2>Greetings, {{ name }}!</h2>

    <h4>Did you know that GROW-<i>sure</i> only sources fresh and organic products while also helping
        the local farmers? We only stock the best for our customers! What are you waiting for?
        Take your pick from the best of the best, only at GROW! </h4>

    <p>Best wishes,
        <br>
        GROW-<i>sure</i>Team
    </p>
    <img alt="Logo" src="/logo.png" width="800" height="400" />

</body>

</html>